body {
    background-image: url('./aasets/woodbg.png');
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    color: white;
}

#div1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10vw;
}
#result{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#buttons{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    gap: 10vw;
    margin-top: 15vh;
}
#rock, #paper, #scissor{
    height: 8vh;
    width: 8vw;
    border-radius: 10px;
}

#computer{
    height: 30vh;
    width: 20vw;
}
#user{
    height: 30vh;
    width: 20vw;
}

#restart {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 1vw;
    color: white;
    background-color: green;
    margin-left: 47vw;
    margin-top:10vh;
}

#score{
    font-size:xx-large;
    margin-top: 8vh;
}